/ {
    buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 18 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
			zephyr,code = <INPUT_KEY_0>;
		};
		// button1: button_1 {
		// 	gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		// 	label = "Push button switch 1";
		// 	zephyr,code = <INPUT_KEY_1>;
		// };
		// button2: button_2 {
		// 	gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		// 	label = "Push button switch 2";
		// 	zephyr,code = <INPUT_KEY_2>;
		// };
		// button3: button_3 {
		// 	gpios = <&gpio0 25 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		// 	label = "Push button switch 3";
		// 	zephyr,code = <INPUT_KEY_3>;
		// };
	};
};